@model ReleaseManagementMVC.Models.Bug

@{
    ViewBag.Title = "Raise Bug";
}

<h2>RaiseBug</h2>

@using (Html.BeginForm(new { id = ViewBag.TesterID }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Bug</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  
    <div class="form-group">
        @Html.LabelFor(model => model.BugID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BugID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BugID, "", new { @class = "text-danger" })
        </div>
    </div>



    @*<div class="form-group">
            @Html.LabelFor(model => model.TesterID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BugID,(string)ViewData["TesterID"], new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.ModuleID, "ModuleID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ModuleID", ViewBag.moduleIds as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ModuleID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <h3>Tester ID : @ViewBag.TesterID</h3>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.BugStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BugStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugStatus, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">

        <b>Bug Status: Open</b>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

    <div class="alert alert-danger" role="alert"> 
        <p style="color:red">
            @ViewBag.ErrorMessage
        </p>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
