@model IEnumerable<ReleaseManagementMVC.Models.Bug>

@{
    ViewBag.Title = "ViewBugs";
}

<h2>ViewBugs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.module.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tester.TesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BugStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.module.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tester.TesterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BugStatus)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.BugID }) 
           
        </td>
    </tr>
}

</table>
